[Unit]
Description=OS Leisure Reprojector

[Container]
Image=ghcr.io/dzfranklin/os-leisure-reprojector:latest
ContainerName=os-leisure-reprojector
Network=internal.network

EnvironmentFile=%h/.config/containers/env/os-leisure-reprojector.env

Volume=os-leisure-reprojector-cache.volume:/cache_data

[Service]
Restart=always

[Install]
WantedBy=default.target
