[Unit]
Description=OS Leisure Reprojector

[Container]
Image=ghcr.io/dzfranklin/os-leisure-reprojector:latest
ContainerName=os-leisure-reprojector
Network=plantopo.network

Environment=OS_API_KEY=your-api-key-here

Volume=os-leisure-reprojector-cache.volume:/mapproxy/cache

[Service]
Restart=always

[Install]
WantedBy=default.target
